.movielens-logo-img{
    height: 32px;
    /* animation: logo-rotate 3s linear infinite normal; */
}

.movielens-header{
    background-color: white!important;
    padding:0!important;
    box-shadow: 0 1px 5px 0 rgba(0,21,41,.08);
    /* 保证阴影正确显示 */
    z-index: 9;
}

.movielens-footer{
    text-align: center;
}

.movielens-content-container{
    background-color: white;
    padding: 24px;
}
